.subtitle-highlight{
    background-color:#8bd3dd;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 10px;
}

.why-choose-us-heading{
    margin-top: 50px;
}

.why-choose-us-container{
    display:flex;
    justify-content: space-around;
    background-color: #f3d2c1;
    margin: 20px 0;
    padding: 20px;
}

.why-choose-us-card{
    background-color: white;
    width: 190px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 10px 3px #808080;
}

.why-choose-us-img{
    height: 60px;
    display: block;
    margin: 10px auto;

}

.header-section{
    display: flex;
}

.header-discription-container{
    width: 50%;
}

.header-img-container{
    width: 50%;
}

.header-img{
 height: 250px; 
 width: 400px;  
 border: 10px solid #f3d2c1;
 display: block;
 margin: 20px auto;
}